.container {
    height: 100%;
    width: 100%;
    background-image: url('../../images/featuresbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 3rem 0 ;
    color: #fff;
}

.featureHeader{
    text-align: center;
}

.upperflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.underflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18rem;
    width: 15rem;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    margin: 1rem 6rem;
    border-radius: 10px;
    cursor: pointer;
}

.number {
    text-align: left;
    font-size: 1.2rem;
}

.warning {
    font-size: 7rem;
}

.title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 20px;

}

.message {
    font-size: 0.8rem;

}


.cardContainer:hover {
    transform: scale(1.08);
    border: 1px solid #ff2a8a;
    transition: all 0.4s ease-in-out;
}

@media (max-width: 1000px){
    .cardContainer{
        width: 70%;
    }
}